@mixin left-top-pos($left, $top) {
    left: $left;
    top: $top;
}

@mixin max-width-height($width, $height) {
    max-width: $width;
    max-height: $height;
}


.background {
    
    @include left-top-pos(0%, 0%);

    position: absolute;
    width: 100%;
    height: 100%;

    background-color: #223c50;
    
    opacity: 0.1;
    z-index: 3;
}

.full {

    @include left-top-pos(5%, 8%);

    position: absolute;
    

    width: 85%;
    margin: 0 auto 0 auto;
    padding: 0.8% 2.5%;

    text-align: center;

    background-color: white;
    border-radius: 7px;

    z-index: 10;

    .backButton {

        @include left-top-pos(91%, 1%);

        position: absolute;

        a {
            text-decoration: none;

            font-size: 18px;
            font-weight: 600;

            color: black;

            @media (max-width: 1000px) {
                font-size: 14px
            }

            @media (max-width: 500px) {
                font-size: 10px
            }
        }

        @media (max-width: 768px) {
            @include left-top-pos(87%, 1%);
        }
    }

    

    .horizontalImg {
        @include max-width-height(60%, 60%);
        border-radius: 8px;

        @media (max-width: 768px) {
            @include max-width-height(65%, 65%);
        }

        @media (max-width: 500px) {
            @include max-width-height(85%, 85%);
        }
    }

    .verticalImg {
        @include max-width-height(30%, 30%);
        border-radius: 8px;

        @media (max-width: 768px) {
            @include max-width-height(40%, 40%);
        }

        @media (max-width: 500px) {
            @include max-width-height(80%, 80%);
        }
    }

    .author {
        margin: 0 0 10px 0;

        text-align: start;

        font-size: 26px;
        font-weight: 500;

        @media (max-width: 768px) {
            font-size: 20px
        }

        @media (max-width: 500px) {
            font-size: 16px
        }
    }

    .stuff {
        display: flex;
        justify-content: space-between;

        .stuffItem {
            margin: 2%  0% 0.5%;

            font-size: 18px;
            font-weight: 400;  
            
            @media (max-width: 768px) {
                font-size: 14px
            }

            @media (max-width: 500px) {
                font-size: 11px
            }
        }
    }

}
